<!-- <audio autoplay>
  <source src="../../../assets/sounds/entrance.mp3" type="audio/mpeg">
</audio> -->
<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="top-text ion-text-center">
      <h2 class="name animation" style="color: black">Ignacio</h2>
    </div>

    <div class="middle-text container ion-text-center">
      <img src="../../../assets/images/icon.png" alt="Logo" />
    </div>

    <div class="bottom-text ion-text-center">
      <h2 class="name animation" style="color: black">Logiudice</h2>
    </div>

    <div class="bottom ion-text-center">
      <h2 class="name animation" style="color: black">4B</h2>
    </div>
  </div>
</ion-content>
