<div class="bg w-100 h-100"  style="overflow: hidden;">
  <div class="row w-100 h-100 m-0">
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(1)">
          <img src="../../../assets/animales/1.png" style="max-height: 60% !important;">
      </button>
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(2)">
          <img src="../../../assets/animales/2.png" style="max-height: 60% !important;">
      </button>
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(3)">
          <img src="../../../assets/animales/3.png">
      </button>
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(4)">
          <img src="../../../assets/animales/4.png">
      </button>
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(5)">
          <img src="../../../assets/animales/5.png">
      </button>
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(6)">
          <img src="../../../assets/animales/6.png">
      </button>
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(7)">
          <img src="../../../assets/animales/7.png">
      </button>
      <button type="button" class="col-md-3 col-6 btn btn-dark border border-light btnAnimales" (click)="clickBtn(8)">
          <img src="../../../assets/animales/8.png">
      </button>     
  </div>
</div>

