.bg {
  background-image: url("../../../assets/images/bg.png");
  // background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}

ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 5rem);
}

.btn-login {
  --background: #af938c;
}

.btn-register {
  --background: #af938c;
}

p {
  color: black;
}
