<div class="bg w-100 h-100" style="overflow: hidden">
  <div class="row w-100 h-100 m-0">
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('0')"
    >
      <span>0</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('1')"
    >
      <span>1</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('2')"
    >
      <span>2</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('3')"
    >
      <span>3</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('4')"
    >
      <span>4</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('5')"
    >
      <span>5</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('6')"
    >
      <span>6</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('7')"
    >
      <span>7</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('8')"
    >
      <span>8</span>
    </button>
    <button
      type="button"
      class="col-md-2 col-6 btn btn-dark border border-light btnAnimales"
      (click)="speak('9')"
    >
      <span>9</span>
    </button>
  </div>
</div>
