<div class="bg w-100 h-100" style="overflow: hidden">
  <div class="row w-100 h-100 m-0">
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales marron"
      (click)="clickBtn('0')"
    ></button>
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales rojo"
      (click)="clickBtn('1')"
    ></button>
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales verde"
      (click)="clickBtn('2')"
    ></button>
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales amarillo"
      (click)="clickBtn('3')"
    ></button>
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales celeste"
      (click)="clickBtn('4')"
    ></button>
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales blanco"
      (click)="clickBtn('5')"
    ></button>
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales naranja"
      (click)="clickBtn('6')"
    ></button>
    <button
      type="button"
      class="col-md-3 col-6 btn btn-dark border border-light btnAnimales rosa"
      (click)="clickBtn('7')"
    ></button>
  </div>
</div>
